*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(src/AnimeX_1112776.jpeg);
    background-size: cover;
    background-size: 50%;
    /* background-repeat: no-repeat; */
}

header{
    display: flex;
    justify-content: center;
    margin: 50px;
    background-color: rgb(14, 114, 202);
    padding: 50px;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#frame{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    background-color: aqua;
    border-radius: 5px;
}

#bgImage{
    height: 200px;
    border-radius: 100%;
}

footer{
    display: flex;
    justify-content: center;
    margin: 50px;
    background-color: rgb(14, 114, 202);
    padding: 50px;
}